@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-button,
button.wallet-adapter-button-trigger {
  background-color: #003628;
  color: #06d6a0;
  border: none;
  font-weight: bold;
  text-align: center;
  width: 8rem;
  width: 100%;
  height: 32px;
}

.custom-button:hover,
button.wallet-adapter-button-trigger:hover {
  background-color: #06d6a0 !important;
  color: #000000 !important;
}

.ant-select-selector {
  background-color: #141414 !important;
  border: 1px solid #202020 !important;
}

.ant-select-item-option-selected {
  background-color: #1f1f1f !important;
}

.TopEngaged .ant-select-selection-item {
  color: #d46b08 !important;
  background: #fff7e6 !important;
  border-color: #ffd591 !important;
  margin: 2px 4px !important;
}

.ant-input {
  border-color: #003628;
}

.ant-collapse-expand-icon {
  display: block !important;
}

.ant-upload {
  width: 100% !important;
  display: grid !important;
}

.ant-select-selection-item-remove {
  color: #f1f1f1 !important;
}

.dashboard-collapse > div > div {
  padding: 0 16px !important;
}
